
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}
@media screen and (max-width:992px){
    .column{
        width:50px;
    }
}
@media screen and (max-width:600px){
    .column{
        width:50px;
    }
}
:root{
    --width:80%;
}
body
{
    background: linear-gradient(lightblue, white , lightblue);
    position: relative;
    min-height: 100vh;
    height:100%;
    margin:0;
    overflow:hidden;
    background-image: url(images/background.png) !important;
    background-size:cover;
    background-position: -100%;
}
html{
    height:100%;
}
.navigation
{
    position: fixed;
    z-index:auto !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    background: #11101d;
    padding: 6px 14px;
    transition: all 0.5s ease;
}

.navigation.active
{
    width: 240px;
}

.navigation .logo-content .logo
{
    color: #fff;
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.navigation.active .logo-content .logo
{
    opacity: 1;
    pointer-events: none;
    transition: all 0.3s ease;
}

.logo-content .logo i
{
    font-size: 28px;
    margin-right: 5px;
}

.logo-content .logo span
{
    font-size: 20px;
    font-weight: 400;
}

.navigation #button
{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50% );
    cursor: pointer;
}

.navigation.active #button
{
    left: 90%;
}

.navigation ul
{
    margin-top: 20px;
}

.navigation ul li
{
    position: relative;
    height: 50px;
    width: 100%;
    margin: 0;
    list-style: none;
    line-height: 50px;   
}

.navigation.active ul li
{
    margin: 0 5px;
}

.navigation ul li a
{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 12px;
    transition: all 0.3s ease;
}

.navigation ul li a span
{
    opacity: 0;
    transition: all 0.3s ease;
}

.navigation.navigation.active ul li a span
{
    opacity: 1;
}

.navigation ul li a:hover
{
    background: #fff;
    color: #11101d;
}

.navigation ul li a i
{
    height: 50px;
    min-width: 50px;
    border-radius: 12px;
    line-height: 50px;
    text-align: center;
}

.profile
{
    bottom: 1%;
    position: absolute;
    width: 212;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile .name
{
    display: flex;
    justify-content:space-around;
    color: #fff;
}

.name span
{
    opacity: 0;
    transition: all 0.1s ease;
}

.navigation.active .name span
{
    opacity: 1;
}

.name img
{
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0;
    transition: all 0.5s ease;
    margin: 0 10px 0 0;
}

.navigation.active .profile img
{
    opacity: 1;
}

.profile #logout
{
    color: #fff;
    font-size: 20px;
    height: 50px;
    width: 50px;
    border-radius: 12px;
    transition: all 0.3s ease;
}

#logout i
{
    transform: translate(60%,70%);
    transition: all 0.3s ease;
}

.navigation.active .profile #logout i
{
    transform: translate(450%,70%);
}

.profile #logout:hover
{
    background: #fff;
    color: #11101d;
}

.navigation.active .profile #logout
{
    width: 212px;
    left: 0;
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
    text-align: center;
  }
foot{
    display:flex !important;
    margin-top: 100% !important;
    margin-bottom: 0% !important;
    margin-left: 50px !important;
    text-align: center !important;
}
p{
    display:flex;
    margin-top: 0;
    margin-bottom: 1rem;
}
div>.table{
    display:flex;
    justify-content: space-between;
    width:20%;
    height:auto;
    margin-left: 500px;
    box-sizing: border-box;
}
.row{
    display:flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
}
.page-wrapper{
    display:block;
    background:white;
    position:relative;
    box-shadow:#11101d;
    left: 110px;
    z-index: -1;
}
.footer{
    padding: 15px 20px;
    background-color: rgb(187, 245, 245);
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
    display:flex;
    
    
}
@keyframes move{
    from{
        left:30%;
    }
    to{
        left:70%;
    }
}
.footer > span{
    position:relative;
    animation: move linear 10s infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.text-muted{
    color:#9eabc0;
}
.text-center{
    text-align: center !important;
}
.container{
    width:var(--width);
    margin: 0 auto;
}
.flex{
    display:flex;
}

