@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: montserrat, sans-serif;
}
@media screen and (max-width:992px){
    .column{
        width:50px;
    }
}
@media screen and (max-width:600px){
    .column{
        width:50px;
    }
}
.flex{
    display:flex;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#61d5fb, white, #61d5fb);
    min-height: 100vh;
    height:100%;
    margin:0;
    overflow:hidden;
}
ul.menu{
    list-style-type: none;
    padding:0;
    margin:0;
}
.header{
    background-color: rgb(221, 250, 250);
    height:fit-content
}
.space-bet{
    justify-content: space-between;
    align-content: center;
}
.div img{
    height:fit-content;
}
h1.score{
    font-size:2.5rem;
    text-shadow:3px 4px rgb(228, 211, 211) ;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;

}
ul.menu > li > a{
    display:inline-block;
    color: black;
    padding: 1rem 2rem;
    text-decoration:none;
}
ul.menu > li > a:hover{
    background-color: rgb(34, 190, 241);
}
@keyframes chuyendong{
    from{
        left:0%;
    }
    to{
        left:100%;
    }
}
.footer{
    bottom: 0;
    left: 0;
    text-shadow:#9eabc0;
}
.footer > span{
    bottom:0;
    position:relative;
    animation: chuyendong linear 15s infinite;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-name: chuyendong;
    animation-iteration-count: infinite;
    animation-direction:normal;
    animation-fill-mode: none;
    animation-play-state: running;
}
.text-muted{
    color:#9eabc0;
}
.text-center{
    text-align: center !important;
}
.formcontent{
    display:inline-block;
    width: 100%;
    height:34%;
    padding:6px 12px;
    font-size: 14px;
    background-color: whitesmoke;
    border: 1px solid #2fcbff;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: inset 0 1px 1px ;
    text-align:justify;
}
.flex{
    display:flex;
}
.edit{
    justify-content: space-around;
    display:flex;
    box-sizing: border-box;
    border-radius: 2rem;
}
.item{
    font-weight: bolder;
    font-family:Arial, Helvetica, sans-serif;
    font-display:inherit;
    text-transform: capitalize;
}
